/* @import url('https://fonts.googleapis.com/css?family=Roboto|Raleway:200|Roboto+Mono'); */

@font-face {
    font-family: "Raleway";
    src: url("Raleway-ExtraLight.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto_Mono";
    src: url("Roboto_Mono-Regular.ttf");
}

html {
}

body {
    font-family: 'Roboto', sans-serif;
}

article {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 50%;
    /*border-right: 1px solid #eeeeee;*/
}


header {
    margin-bottom: 10px;
    outline: none
    width: 100%
    background-color: lightblue;
    background-color: #000000;
}

section {
    border-bottom: 1px solid #cccccc;
    text-align: justify;
}

section#description {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #cccccc;
    display: flex;
}
section#description > div {
    margin-right: 10px;
    flex: 50%;
}

section#applications {
    display: block;
}

section#applications > a {
    text-decoration: none;
}

section > p,  section > div > p {
    /* margin-left: 10px; */
}


#usyd-zr-logo {
    height: 99px;
}
#zr-logo {
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

#studentPic {
    height: 200px;
}
#groupPic {
    height: 200px;
}
#GregPreso {
    height: 200px;
}
#Mentor {
    height: 200px;
}

h1 {
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #ffffff;
}

h2 {
    
}

a:link {
    color: inherit;
    transition: color ease-in-out 0.1s;
}

a:hover {
    color: black;
}

button {
    width: 200px;
}

.video {
    flex: 50%;
    /* margin-bottom: 20px; */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #eeeeee;
}

.sidebar {
    float: left;
    height: calc(100% - 16px);
    width: 24%;
    position: relative;
    /*border-right: 1px solid #eeeeee;*/
}

.sidebarRight {
    float: right;
    width: 18%;
    position: relative;
}

.sidebarRight > img {
    margin-top:20px;
}

nav > h3 {
    /* width: 100%; */
    padding: 3px;
    margin: 0;
    font-weight: normal;
    /* box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.16); */
}
nav > h3#new{
    padding: 3px;
    margin: 0;
    font-weight: normal;
    color:red;
}
.no-top-margin {
    margin-top: 0;
}

div.contact {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0 0 0 2em;
    padding: 0;
}

section#contact > h2 {
    margin-bottom: 10px;
}

div.contact > ul {
    margin: 0;
}

section#faq > p > ul {
    margin: 0 0 0 0;
}

.sidebar > nav:first-of-type {
    border-top: 1px solid #eeeeee;
}

/*yeah, Pen's learning css*/
nav > h3 > a:link,
nav > h3 > a:visited {
    text-decoration: none;
    color: inherit;
}
/*yeah, Pen's learning css - end*/

nav > a > div {
    width: 100%;
    padding-bottom: 5px;
    margin-left: 20px;
    color: #555555
    /*transition: color ease-in-out 0.1s, margin-left ease-in-out 0.1s;*/
}

nav:hover h3 a div {
    margin-left: 0px;
    color: black
}

nav > a > div:hover {
    color: black;
    margin-left: 25px;
}

nav > a:link {
    text-decoration: none;
    color: inherit;
}

a.inactive {
    color: #555555;
    font-style: italic;
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

span.q {
    display: block;
    font-weight: bold;
}

span.q::before {
    content: "Q) ";
    color: #999999;
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}

span.a {
    display: block;
    font-style: italic;
}

span.a::before {
    content: "A) ";
    color: #999999;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

/*Code for Student Resources*/
span.link {
    display: block;
    font-weight: bold;
}
span.info {
    display: block;
    font-style: italic;
}
